<!-- <div style="padding: 15px; margin: 50px; border-radius: 15px;" [appShadow]="color">
    <p>{{birthDay | date: "dd/MM/yyyy"}}</p>
    <input [(ngModel)]="name" placeholder="Enter your name" type="text"><br>
    {{name | removeA}}
</div> -->


<br>

<!-- <ol> -->
<div class="container">
    <div class="row">
        <div ngClass="col-lg-4 col-md-6 col-sm-2 mb-4" *ngFor="let store of stores">
            <div class="card store-card shadow-lg p-3" (click)="onStoreClickHandler(store.storeId)">
                <div class="card-img bg-dark mb-3" style="min-height: 150px;">

                </div>
                <div class="card-title">
                    <b>{{store.storeName}}</b>
                </div>
                <div class="card-text">
                    {{store.storeAddress}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </ol> -->

<br><br>

<!-- <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
</signature-pad>
<button (click)="onClear()">Clear</button>
<button (click)="onSignatureSubmit()">Submit</button>
<img [src]="image"> -->