.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
}

.login-button {
  padding: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin input {
  margin-bottom: 10px;
  border: 2px solid rgb(200, 200, 200);
}

.input-group :focus {
  z-index: 0;
}

.input-group-text {
  height: 58px;
  border: none;
  border: 2px solid rgb(240, 240, 240);
  width: 58px;
}

@media only screen and (max-width: 1000px) {
  .form-signin {
    max-width: 400px;
    padding: 30px;
  }
  .login-button {
    padding: 10px;
  }
  .form-control,.input-group-text {
    height: 50px;
  }
}