<kendo-tilelayout [columns] = "4" [rowHeight] = "255" [resizable] = "false" [reorderable] = "false">
    <kendo-tilelayout-item title="One" [col] = "1" [colSpan] = "3">
        <kendo-tilelayout-body>
            <h6>Body of Tile one</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Two" [col] = "4">
        <kendo-tilelayout-body>
            <h6>Body of Tile two</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="three" [col] = "1" [colSpan] = "2">
        <kendo-tilelayout-body>
            <h6>Body of Tile three</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Four" [col] = "3">
        <kendo-tilelayout-body>
            <h6>Body of Tile four</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Five" [col] = "4" [rowSpan] = "2">
        <kendo-tilelayout-body>
            <h6>Body of Tile five</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Six" [col] = "1" [colSpan] = "2" [rowSpan] = "2">
        <kendo-tilelayout-body>
            <h6>Body of Tile six</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Seven" [col] = "3">
        <kendo-tilelayout-body>
            <h6>Body of Tile seven</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Eight" [col] = "3" [colSpan] = "2">
        <kendo-tilelayout-body>
            <h6>Body of Tile eight</h6>
        </kendo-tilelayout-body>
    </kendo-tilelayout-item>
</kendo-tilelayout>